{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": [
          ">0.2%",
          "not dead",
          "not ie > 0",
          "not op_mini all"
        ]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
