# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
public/env-config.js
public/test-env-config.js

# testing
/coverage
/report

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/dist
/tmp

npm-debug.log*
# yarn – not used anymore
yarn.lock
.yarn/
.yarnrc.yml
yarn-debug.log*
yarn-error.log*
