language: node_js
node_js: "stable"
    
dist: bionic
sudo: required

addons:
  firefox: latest
  chrome: stable

services:
  - xvfb

branches:
  only:
   - develop
cache:
  directories:
   - node_modules
env:
 - PORT=2048 SSR_FETCH_TIMEOUT=2500 ACCESSIBILITY_SENTENCE_API="https://www.hel.fi/palvelukarttaws/rest/v4" SERVICEMAP_API="https://api.hel.fi/servicemap/v2" EVENTS_API="https://api.hel.fi/linkedevents/v1" RESERVATIONS_API="https://api.hel.fi/respa/v1" PRODUCTION_PREFIX="SM" DIGITRANSIT_API="https://api.digitransit.fi/routing/v1/routers/hsl/index/graphql" FEEDBACK_URL="https://api.hel.fi/servicemap/open311/" HEARING_MAP_API="https://kuulokuvat.fi/api/v1/servicemap-url" OUTDOOR_EXERCISE_URL="https://ulkoliikunta.fi" MODE=production CITIES="helsinki,espoo,vantaa,kauniainen" SERVICE_MAP_URL="https://tiles.hel.ninja/styles/hel-osm-bright/{z}/{x}/{y}" ACCESSIBLE_MAP_URL="https://tiles.hel.ninja/styles/turku-osm-high-contrast-pattern/{z}/{x}/{y}" ORTOGRAPHIC_MAP_URL="https://kartta.hsy.fi/geoserver/gwc/service/wmts?layer=taustakartat_ja_aluejaot:Ortoilmakuva_2017&tilematrixset=ETRS-GK25&Service=WMTS&Request=GetTile&Version=1.0.0&TileMatrix=ETRS-GK25:{z}&TileCol={x}&TileRow={y}&Format=image/jpeg" GUIDE_MAP_URL="https://kartta.hel.fi/ws/geoserver/avoindata/gwc/service/wmts?layer=avoindata:Karttasarja_PKS&tilematrixset=ETRS-GK25&Service=WMTS&Request=GetTile&Version=1.0.0&TileMatrix=ETRS-GK25:{z}&TileCol={x}&TileRow={y}&Format=image%2Fpng"

before_install:
 - stty cols 80
 - npm update --legacy-peer-deps
install:
 - npm install
before_script:
 - fluxbox >/dev/null 2>&1 &
 - sleep 3
 - npm run testBuild
script:
 - npm test
 - npm run browserTestCLI
