language: node_js
node_js: "stable"
    
dist: trusty
sudo: required

addons:
  firefox: latest
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable fluxbox
branches:
  only:
   - develop
cache:
  directories:
   - node_modules
before_install:
 - stty cols 80
 - npm update
install:
 - npm install
before_script:
 - "export DISPLAY=:99.0"
 - "sh -e /etc/init.d/xvfb start"
 - sleep 3
 - fluxbox >/dev/null 2>&1 &
 - npm run testBuild
script:
 - npm test
 - npm run browserTestCLI
