language: node_js
node_js: "stable"
    
dist: trusty
sudo: required

addons:
  firefox: latest
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable --allow-unauthenticated
     - fluxbox
branches:
  only:
   - develop
cache:
  directories:
   - node_modules
env:
 - PORT=2048
 - SSR_FETCH_TIMEOUT=2500
 - ACCESSIBILITY_SENTENCE_API="https://www.hel.fi/palvelukarttaws/rest/v4"
 - SERVICEMAP_API="https://api.hel.fi/servicemap/v2"
 - EVENTS_API="https://api.hel.fi/linkedevents/v1"
 - RESERVATIONS_API="https://api.hel.fi/respa/v1"
 - PRODUCTION_PREFIX="SM"
before_install:
 - stty cols 80
 - npm update
install:
 - npm install
before_script:
 - "export DISPLAY=:99.0"
 - "sh -e /etc/init.d/xvfb start"
 - sleep 3
 - fluxbox >/dev/null 2>&1 &
 - npm run testBuild
script:
 - npm test
 - npm run browserTestCLI
