{
    "extends": ["airbnb"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-shadow": 0,
        "no-console": ["error", { "allow": ["warn"] }] 
    },
    "env": {
        "browser": true,
        "jest": true
    }
}