{
    "extends": ["airbnb"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-shadow": 0,
        "no-param-reassign": ["error", { "props": false }]
    },
    "env": {
        "browser": true,
        "jest": true
    }
}