html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .link {
  color: #3344dd;
  text-decoration: underline;
}

a:hover, a:focus, a:active,
.link:hover, .link:focus, .link:active {
  color: #bb1122 !important;
  outline: auto !important;
  outline-color: rgb(71, 131, 235) !important;
}

a:visited, .link:visited {
  color: #804180;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input[type="search"]::-webkit-search-cancel-button{ 
  -webkit-appearance:none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-popup-content {
  width: 300px;
  margin: 0;
  padding: 0;
}

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
}

.leaflet-popup-close-button {
  padding: 16px !important;
  font-size: 24px !important;
  color: #4A4A4C !important;
}

/* This allows clicks to go through control background to the map. Control buttons need style: pointer-events: auto */
.leaflet-control {
  pointer-events: auto;
}

.leaflet-control button {
  pointer-events: auto;
}

.leaflet-control-attribution {
  background: #fff !important;
  pointer-events: auto;
}

.heightgraph-container {
  background-color: rgba(250,250,250,.8);
  border-radius: 10px;
  margin-right: 110px;
  display: none;
  cursor: default;
  user-select: none;
}

.heightgraph-toggle {
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
  border-radius: 5px;
  width: 28px;
  height: 28px;
  background: #f8f8f9;
  display: block;
  margin-bottom: 240px;
  margin-right: 37px;
}

.heightgraph-toggle-icon {
  background: url(assets/icons/areaChart.svg) no-repeat center center;
  background-size: 14px 14px;
  width: 26px;
  height: 26px;
  margin-left: -13px;
  position: absolute;
  margin-bottom: 240px;
  margin-right: 37px;
}

.heightgraph-close-icon {
  background: url(assets/icons/remove.svg) no-repeat center center;
  background-size: 20px 20px;
  width: 26px;
  height: 26px;
  margin-right: 110px;
  position: absolute;
  right: 0;
  display: block;
  cursor: pointer;
}

.border-top {
  fill: none;
}

.legend-hover {
  cursor: pointer;
}

.legend-text {
  fill: #000;
  font-size: 10px;
  cursor: pointer;
}

.tick, .tick text {
  fill: #000;
  pointer-events: none;
}

.axis .tick line {
  visibility: hidden;
  pointer-events: none;
}

.axis path {
  stroke: black;
  fill: none;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  pointer-events: none;
}

.focusbox {
  display: none;
  font-size: 10px;
  fill: #000;
  pointer-events: none;
}

.focusbox rect {
  fill: rgba(255, 255, 255, 0.8);
  stroke-width: 1px;
  stroke: #888;
  pointer-events: none;
}

.focusbox text {
  font-size: 12px;
}

.focusLine line {
  stroke-width: 1px;
  stroke: rgb(20, 20, 20);
  display: none;
  cursor: default;
  shape-rendering: crispEdges;
}

.height-focus.label rect {
  fill: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  stroke: #888;
  pointer-events: none;
  shape-rendering: crispEdges;
}

.height-focus.line {
  stroke: rgb(20, 20, 20);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.height-focus.circle {
  stroke: #FFF;
  stroke-width: 1px;
}

.mouse-height-box-text{
  font-size: 12px;
}

.grid .tick {
  pointer-events: none;
}

.grid .tick line {
  stroke: #EEE;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
  pointer-events: none;
}

.tspan {
  font-weight: bold;
}

.select-symbol {
  cursor: pointer;
}

.select-info {
  cursor: default;
}

.lineSelection {
  cursor: move;
}

path.leaflet-interactive:focus {
  outline: none;
}
