html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .link {
  color: #3344dd;
  text-decoration: underline;
}

a:hover, a:focus, a:active,
.link:hover, .link:focus, .link:active {
  color: #bb1122 !important;
}

a:visited, .link:visited {
  color: #804180;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input[type="search"]::-webkit-search-cancel-button{ 
  -webkit-appearance:none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-popup-content {
  margin: 0;
  padding: 0;
}

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup-close-button {
  font-size: 24px !important;
  color: #4A4A4C !important;
}

.leaflet-control-attribution {
  background: #fff !important;
}

